/* Spacing  SCSS */

/* Margins */
.m-0 { margin: 0; }
.m-1 { margin: 4px; }
.m-2 { margin: 8px; }
.m-3 { margin: 12px; }
.m-4 { margin: 16px; }
.m-5 { margin: 20px; }

/* Padding */
.p-0 { padding: 0; }
.p-1 { padding: 4px; }
.p-2 { padding: 8px; }
.p-3 { padding: 12px; }
.p-4 { padding: 16px; }
.p-5 { padding: 20px; }


/* Responsive Adjustments */
@media (max-width: 768px) {
  .m-mobile-0 { margin: 0; }
  .m-mobile-1 { margin: 4px; }
  .m-mobile-2 { margin: 8px; }
  .p-mobile-0 { padding: 0; }
  .p-mobile-1 { padding: 4px; }
  .p-mobile-2 { padding: 8px; }
}
